@media screen and (min-width:320px) and (max-width: 737px){
    .container{
        height: 306px;
    }
    .image img{
        max-width: 80px;
        margin-top: -600px;
        margin-right: -60px;
        /* top: 10px;
        right: 10px; */
    }
    .c{
        font-size: 22px;
    }
    .b{
        width: 70px;
    }
    .item-1,
    .item-2,
    .item-3{
        padding: 50px 10px;
    }
    .item-title{
        display: block;
    }
    .item-img img{
        width: 355px;
        padding-bottom: 30px;
    }
    .thongtin{
        display: block;
        padding-left: 0;
        float: none;
    }
    .item-img{
        margin-left: auto;
    }
    .item-title p{
        width: 100%;
        padding-bottom: 20px;
    }
    .btn-item{
        padding-top: 30px;
      }
    .thetong2{
        grid-template-columns:none;
    }
}


/* tab */
@media screen and (max-width:1024px) and (min-width:768px){
    .image img{
        max-width: 150px;
    }
    .c{
        font-size: 50px;
    }
    .b{
        width: 60px;
    }
    .chu h2{
        font-size: 12px;
    }
    .item-1{
        height: 600px;
    }
    .thetong2{
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(513px,1fr));
      }
}
